<h3>All Jobs for <strong><%= @company.name %></strong></h3>
<hr>
<div class="row">
  <div class="jobs">
    <% @jobs.each do |job| %>
      <ul class="job_<%= job.id %> col-md-4">
        <%= link_to job.title, company_job_path(@company, job.id) %> at <%= job.company.name %><br>
        <%= link_to "Delete", company_job_path(@company, job), method: "delete", class:"btn btn-danger" %>
      </ul>
    <% end %>
  </div>
</div>

<%= render partial: 'contacts/form' %>
<hr>
<div class="row">
  <%= render partial: 'contacts/contact', collection: @company.contacts %>
</div>
