<div class="well">
  <strong>Title:</strong> <%= @job.title %>
  <br>

  <strong>Description:</strong> <%= @job.description %>
  <br>

  <strong>Level of Interest:</strong> <%= @job.level_of_interest %>
  <br>

  <strong>Category:</strong> <%= @job.category.title %>
  <br>

  <strong>Company:</strong> <%= link_to @job.company.name, company_path(@job.company) %>

  <p><%= link_to "Edit", edit_company_job_path(@job.company, @job), class: "btn btn-success" %></p>
</div>

<%= render partial: 'comments/form' %>
<hr>
<%= render partial: 'jobs/comment', collection: @job.comments.reverse_chronological %>
