<h3>Add a Contact</h3>
<%= form_for [@contact] do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :position %>
  <%= f.text_field :position %><br>
  <%= hidden_field_tag :company_id, @company.id %>
  
  <%= f.submit %>
<% end %>

